.button {
    display: flex;
    width: 23.5%;
    height: 15.5%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1.5px solid rgba(255, 255, 255, 0.11);
}
.number {
    background-color: rgb(27, 27, 27);
}
.number:hover {
    background-color: rgb(85, 84, 84);
}
.button:hover {
    background-color: rgb(85, 84, 84);
}
